<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.breezing.health"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoTitleBar" >
        
        <activity
            android:name=".ui.activity.LauncherActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.activity.FillInInformationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="action.intent.breezing.health.ACTIVITY_FILLIN_INFORMATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity
            android:name=".ui.activity.EditInformationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="action.intent.breezing.health.ACTIVITY_EDIT_INFORMATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.activity.BreezingTestActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="action.intent.breezing.health.ACTIVITY_BREEZING_TEST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="action.intent.breezing.health.ACTIVITY_MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="action.intent.breezing.health.ACTIVITY_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.activity.UnitSettingsActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="action.intent.breezing.health.ACTIVITY_UNIT_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.activity.BTDeviceSettingsActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="action.intent.breezing.health.ACTIVITY_BTDEVICE_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.activity.AccountManagementActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="action.intent.breezing.health.ACTIVITY_ACCOUNT_MANAGEMENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.activity.AccountDetailActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="action.intent.breezing.health.ACTIVITY_ACCOUNT_DETAIL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.activity.ModifyPasswordActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="action.intent.breezing.health.ACTIVITY_MODIFY_PASSWORD" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.activity.MoreActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="action.intent.breezing.health.ACTIVITY_MORE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.activity.BalanceHistoryActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="action.intent.breezing.health.ACTIVITY_BALANCE_HISTORY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.activity.ShareActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="action.intent.breezing.health.ACTIVITY_SHARE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.activity.CaloricIntakeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="action.intent.breezing.health.ACTIVITY_CALORIC_INTAKE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
          
        <activity
            android:name=".ui.activity.ExerciseRecordActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="action.intent.breezing.health.ACTIVITY_EXERCISE_RECORD" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.activity.AboutActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="action.intent.breezing.health.ACTIVITY_ABOUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.activity.CaloricHistoryActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="action.intent.breezing.health.ACTIVITY_CALORIC_HISTORY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.activity.WeightRecordActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="action.intent.breezing.health.ACTIVITY_WEIGHT_RECORD" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
       <activity
            android:name=".ui.activity.HelperActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="action.intent.breezing.health.ACTIVITY_HELPER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.activity.OtherCaloricBurnActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="action.intent.breezing.health.ACTIVITY_OTHER_CALORIC_BURN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="action.intent.breezing.health.ACTIVITY_LOGIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <provider
            android:name=".providers.BreezingProvider"
            android:authorities="breezing"
            android:multiprocess="false" />

        <service android:name=".transation.DataTaskService" >
        </service>  
        
        <receiver android:name=".transation.DataReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.breezing.transaction.IMPORT_DATA" />
            </intent-filter>
        </receiver>
        
    </application>

</manifest>
